<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./js_folder/jsTest.js"></script>
    <script>
        document.write('안녕하세요222222<br>');
    </script>
</head>
<body>
    <!-- 
        * 스크립트 코드 작성 영역
        자바스크립트 코드가 실행되기 위해서는 <script>태그
        안에 넣어서 써야하면 <head>에 오든 <body>에 오든
        아무데나 와도, 여러번 써도 상관없다.
        but 실행되는 순서가 다르다.
     -->
    <script>
        document.write('안녕하세요3333333<br>');
    </script>
    <h1>javascript</h1>
    <script>
        document.write('안녕하세요4444444<br>');
    </script>
</body>
</html>