<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>web2</title>
</head>
<body>
	<h1>[ Web2 ]</h1>
	<ol>
		<li>Lombok & Logger 사용
		<ul>
			<li><a href="lom/lombok">Lombok 사용</a></li>
			<li><a href="lom/logger">Logger 사용</a></li>
		</ul>
		
		</li>
		<li>서버와 값 주고받기
		<ul>
			<li><a href="param/view1">Get 메소드로 parameter 전달</a></li>
			<li><a href="param/view2">Post 메소드로 parameter 전달</a></li>
			<li><a href=""></a></li>
			<li><a href=""></a></li>
		</ul>
		
		</li>
		<li>Model
		<ul>
			<li><a href="param/model1">Model</a></li>
			
		</ul>
		
		</li>
		<li>예제
		<ul>
			<li><a href="ex/calc1">계산기</a></li>
			<!-- 계산기 폼이 있는 페이지로 이동
			숫자 2개, 연산자 선택 select, 계산 버튼이 있는 페이지가 보임
			숫자를 입력하고 연산자를 선택하고 계산 버튼을 누르면 서버로 전송
			컨트롤러에서 계산한 후 결과를 다른 HTML페이지에 출력 -->
			<li><a href="ex/calc2">계산기2</a></li>
		</ul>
		
		</li>
		<li>session 사용하기
		<ul>
			<li><a href="ss/session1">세션에 값 저장하기</a></li>
			<li><a href="ss/session2">세션에 값 읽어서 사용하기</a></li>
			<li><a href="ss/session3">세션에 값 읽어서 사용하기</a></li>
			
			<li><a href="ss/login">로그인</a></li>
			<li><a href="ss/logout">로그아웃</a></li>
			<li><a href="ss/loginTest">로그인 해야만 볼 수 있는 페이지</a></li>
		</ul>
		
		</li>
		<li>Cookie 사용하기
		<ul>
			<li><a href="ck/cookie1">쿠키 저장하기</a></li>
			<li><a href="ck/cookie2">쿠키 읽기</a></li>
			<li><a href="ck/cookie3">쿠키 삭제하기</a></li>
		</ul>
		
		</li>
		<li>쿠키 예제
		<ul>
			<li><a href="ex/calc1">계산기</a></li>
			<li><a href="ex/calc2">계산기2</a></li>
			<li><a href="ex/count">방문횟수 카운트</a></li>
		</ul>
		
		</li>
		<li>LocalStorage와 SessionStorage 사용하기
		<ul>
			<li><a href="local/save">저장하기</a></li>
			<li><a href="local/read">사용하기</a></li>
			<li><a href="local/delete">삭제하기</a></li>
		</ul>
		</li>
		<li>Thymeleaf 문법
		<ul>
			<li><a href="th/thymeleaf1">타임리프 연습 1</a></li>
			<li><a href="th/thymeleaf2">타임리프 연습 2</a></li>
		</ul>
		</li>
	</ol>

</body>
</html>