<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>members</title>
<link rel="stylesheet" href="../style.css"/>
</head>
<body>
	<h1>[ 회원 ]</h1>
	
	<table>
		<thead>
			<tr>
				<td>No.</td>
				<td>ID</td>
				<td>이름</td>
				<td>나이</td>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${response=='Nodata'}">
				<td> 해당 쿼리에 부합하븐 도서 결과가 없습니다. 다시 올바르게 입력해주세요. <ㅡ
			</tr>
			<tr th:each="result, count: ${results}">
				<td class="no"><span th:text="${count.index+1}"></span></td>
				<td class="id"><span th:text="${result.ID}"></span></td>
				<td class="name"><span th:text="${result.name}"></span></td>
				<td class="age"><span th:text="${result.age}"></span></td>
				
			</tr>
		</tbody>
	</table>
</body>
</html>